.bg{
    background-color: lightcyan;
    padding: 20px;
}

.title{
    font-family: "Roboto";
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.box{
    width: 40%;
    margin: 20px;
}

.card{
    width: 70%;
    background-color:skyblue;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}