.bg{
    padding: 40px;
}

.button-padding{
    padding: 0 0 88px 0;
}

.title-border{
    border-bottom: rgb(29, 29, 29) solid 2px;
}

.box{
    border: rgb(29, 29, 29) solid 2px;
    width: 40%;
    height: 60px;
    margin: 20px;
}

.card{
    width: 70%;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

.img{
    width: 50%;
}