.bg{
    padding: 40px;
}

.button-padding{
    padding: 0 0 88px 0;
}

.title-border{
    border-bottom: rgb(29, 29, 29) solid 2px;
}

.box{
    border: rgb(29, 29, 29) solid 2px;
    width: 60%;
    height: 60px;
    margin: 20px;
}

.card{
    width: 700px;
    border: none; 
    border-radius: 0;
    border-right: rgb(143, 143, 143) solid 2px;
    margin: 10px;
}

.card-no-border{
    width: 700px; 
    border: none;
    border-radius: 0;
    margin: 10px;
}

.img{
    width: 85%;
}

.img-div{
    width: 50%
}

.form-div{
    width: 120%
}