.bg{
    background-color: lightcyan;
    padding: 20px;
}

.heading{
    margin: 20px;
    font-family: "Roboto";
    font-size: 32px;
    text-align: center;
}

.chart-title{
    font-family: "Roboto";
    font-size: 22px;
    margin: 30px 10px 10px 10px;
    text-align: center;
}


.chart-container{
    border: rgb(35, 38, 39) solid 2px
}
