.bg-padding{
    padding: 40px;
}


.button-margin{
    margin-bottom: 20px;
    margin-top: 20px;
}

.title-border{
    border-bottom: rgb(29, 29, 29) solid 2px;
    margin: 10px;
}

.title-dark{
    padding: 10px;
    color: white;
    margin-bottom: 0;
}

.box{
    margin: 20px;
    margin-left: 2px;
}

.borders{
    border: solid;
    border-top: none;
    border-radius: 0;
}

.chart-heading{
    font-size: 20px;
    width: 644px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    margin-bottom: 0;
    color: white;
}

.chart-div{
    margin: 20px;
}


.form-div{
    width: 120%;
    margin: 10px;
}


.form-borders{
    border: rgb(29, 29, 29) solid 2px;
    border-top: none;
    margin-top: 0;
}