.bg{
    padding: 40px;
}

.button-margin{
    margin-bottom: 20px;
    margin-top: 20px;
}

.title-border{
    border-bottom: rgb(29, 29, 29) solid 2px;
}

.title-dark{
    padding: 10px;
    color: white;
    margin-bottom: 0;
}

.box{
    border: rgb(29, 29, 29) solid 2px;
    width: 60%;
    height: 60px;
    margin: 20px;
}

.card{
    width: 700px;
    border: none; 
    border-radius: 0;
    border-right: rgb(143, 143, 143) solid 2px;
    margin: 10px;
}


.img1{
    width: 85%;
}

.img2{
    height: 75%;
    padding: 10px;
    margin: 10px;
}

.img-div{
    width: 50%;
}


.form-div{
    width: 120%;
    margin: 10px;
}


.form-borders{
    border: rgb(29, 29, 29) solid 2px;
    border-top: none;
    margin-top: 0;
}