.bg-padding{
    padding: 40px;
}


.button-margin{
    margin-bottom: 20px;
    margin-top: 20px;
}

.title-border{
    border-bottom: rgb(29, 29, 29) solid 2px;
    margin: 10px;
}

.title-dark{
    padding: 10px;
    color: white;
    margin-bottom: 0;
}

.box{
    margin: 20px;
    margin-left: 2px;
}

.borders{
    border: solid;
    border-top: none;
    border-radius: 0;
}

.admin-heading{
    font-size: 20px;
    width: 644px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 0;
    color: white;
}

.admin-div{
    margin: 10px;
    margin-bottom: 40px;
    margin-top: 0;
    height: 300px;
    border: rgb(29, 29, 29) solid 2px;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}



.form-div{
    width: 120%;
    margin: 10px;
}


.form-borders{
    border: rgb(29, 29, 29) solid 2px;
    border-top: none;
    margin-top: 0;
}