*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size : 16px;
    outline: 1px solid red;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(29, 29, 29);
    color: white;
}

header h1{
    font-size: 40px;
    font-weight: bold;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.weather-search{
    margin-bottom: 40px;
}

.weather-search input{
    height: 40px;
    width: 300px;
    border-radius: 5px;
    padding: 10px;
}

.weather-search button{
    height: 40px;
    width: 80px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: rgb(29, 29, 29);
    color: white;
    font-weight: bold;
}

.weather-display{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: stretch;
    justify-content: space-around;
    border: rgb(29, 29, 29) solid 2px;
    border-radius: 5px;
    padding: 10px;
}

.weather-components{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.weather-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.weather-main p{
    font-size: 24px;
    font-weight: bold;
}

.weather-map{
    height: 300px;
    width: 300px;
    border-radius: 5px;
}
